django
djangorestframework
django-environ
drf-spectacular
drf-spectacular[sidecar]
pygments

#Postgres Requirement
# sudo apt install python3-dev libpq-dev
#development
psycopg2-binary
#production ready
# psycopg2
